[alias]
	default-branch = !git symbolic-ref refs/remotes/origin/HEAD | cut -d'/' -f4
	ane = commit --amend --no-edit
	b = branch
	co = checkout
	com = !git checkout $(git default-branch)
	dc = diff --cached
	l = log --oneline
	ll = l -1
	lb = !git l $(git default-branch)..HEAD
	pf = push --force-with-lease
	s = status -s
[core]
	pager = delta
	editor = code --wait
[credential "helperselector"]
	selected = manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[delta]
	navigate = true  # use n and N to move between diff sections
	dark = true      # or light = true, or omit for auto-detection
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictStyle = zdiff3
[push]
	autoSetupRemote = true
[rebase]
	autosquash = true
[remote "origin"]
	prune = true
[user]
	name = Oskar Hermansson
	email = {{ .email }}
