{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF

tap "isen-ng/dotnet-sdk-versions"

brew "cloc"
brew "tree"
brew "git-delta"
brew "starship"
brew "gh"

cask "dotnet-sdk8"
cask "dotnet-sdk9"
cask "font-fira-code-nerd-font"

vscode "editorconfig.editorconfig"
vscode "tamasfe.even-better-toml"

EOF
{{ end -}}
